:root {
  /* color pallette: Easy Math https://colormagic.app/palette/67128fc7eab8122db20f840e */
  --color-black: #242424;
  --color1: #e9ccb4;
  --color2: #eabbb3;
  --color3: #e39d9c;
  --color4: #df8686;
  --color5: #bd726b;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color2);
  background-color: var(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

section {
  background-color: var(--color5);
  margin: 0 0 0 30px;
  width: calc(100vw - 60px);
}

section.top_frame {
  height: 30px;

  border-radius: 30px 30px 0 0;
}
section.bottom_frame {
  height: 30px;

  border-radius: 0 0 30px 30px;
}
section.middle_frame {
  height: calc(100vh - 120px);

  display: table;
}

#app {
  text-align: center;
}

.card {
  display: table-cell;
  vertical-align: middle;
  padding: 0 30px 0 30px;
}

.big_problem {
  margin-bottom: 10px;
  font-size: 500px;
  height: 1.5em;
}

.next_button {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translate(-50%);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-black);
  color: var(--color2);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: slategray;
}
button:focus,
button:focus-visible {
  outline: 1px inset var(--color1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color5);
    background-color: whitesmoke;
  }
  section {
    background-color: var(--color2);
  }
  button {
    background-color: whitesmoke;
  }
}
